<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!-- 通过工厂方法获取bean的实例-->
       <bean id="beanFactory" class="com.github.gongfuboy.test.spring.chapter2.BeanFactory" factory-method="instance">
       </bean>

</beans>